name: Terraform Validate

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Format
        run: terraform fmt -check

      - name: Install RKE Provider
        run: hack/gh_actions_install_rke_provider.sh

      - name: Terraform Init
        run: terraform init terraform/vsphere-rancher

      - name: Validate
        run: terraform validate terraform/vsphere-rancher
